<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link href="/public/stylesheet.css" rel="stylesheet">
<link rel="icon" href="/public/deped-logo.png" type="image/x-icon" />
</head>
<script>
    function copyLink(x) {
  navigator.clipboard.writeText(x);

  /* Alert the copied text */
  alert("Copied the text: " + x);
  }
</script>
<header>
    <nav class="navbar navbar-expand navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
          </ul>
        </div>

        <form action="/logout?_method=DELETE" method="POST" class="form-inline my-2 my-lg-0">
        <button type="submit" class="btn btn-outline-danger">Log Out</button>
        </form>

      </nav> 
</header>
<body>  
    <% shortLink.forEach((user)=>{ %>
    <h3>  <%= user.username %></h3>    
    <table class="admintb table">
        <thead>
            <th scope="col">Title</th>
            <th scope="col">Name</th>
            <th scope="col">Short URL</th>
            <th scope="col">Full URL</th>
           
        </thead>
        <tbody>
            <% user.shortUrl.forEach((link,index) => { %>
                <tr>
                    <td><%= link.title %></td>   
                    <td><%= link.name %></td>   
                    <td id="shortLink">localhost:3000/<%= link.name %></td>  
                    <td><%= link.fullLink%></td>   
                             
                </tr>
            <% })%>
           
        </tbody>
        </table>
    <% }) %>
</body>
</html>